<div class="text-container">
  <h6>Національний технічний університет України</h6>
  <h6>«Київський політехнічний інститут імені Ігоря Сікорського»</h6>
  <h6>Факультет Інформатики та Обчислювальної Техніки</h6>
  <h6>Кафедра Інформаційних Систем та Технологій </h6>
  <h3>Опис</h3>
  <h6>Завдання 4 курсової роботи з дисципліни</h6>
  <h6>«Бази даних»</h6>
  <h6>Створення застосунку</h6>
  <div class="right-side">
    <h6>Виконав студент ІС-03 Сабадаш Дмитро</h6>
    <h6>Перевірив Попенко В. Д.</h6>
  </div>
  <h5>Тема №9 (“Планування виробництва сільгосппродукції”)</h5>
  <img src="../../assets/images/topic.jpg" alt="topic">
  <h5>Діаграма БД</h5>
  <img src="assets/images/diagram.png" alt="db diagram">
</div>
