<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"
    routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="about">
      About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/crop"
       (click)="initializePage('crop')">Crop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/incomeandexpenses"
    (click)="initializePage('incomeandexpenses')">
      Income and Expenses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/field"
       (click)="initializePage('field')">
      Field</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/salesinvoice"
    (click)="initializePage('salesinvoice')">
      Sales Invoice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/operation"
    (click)="initializePage('operation')">
      Technological Operations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/waybill"
    (click)="initializePage('waybill')">
      Waybills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/requirement"
    (click)="initializePage('requirement')">
      Requirements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/order"
    (click)="initializePage('order')">
      Work Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/attractingworker"
    (click)="initializePage('attractingworker')">
      Attracting Workers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" tabindex="-1" aria-disabled="true"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crud/qualification"
    (click)="initializePage('qualification')">
      Worker Qualifications</a>
  </li>
</ul>

<router-outlet (activate)="controlCrudComponent($event)"></router-outlet>

