<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"
    routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="crop"
    (click)="initializePage('crop')">Crop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="incomeandexpenses"
    (click)="initializePage('incomeandexpenses')">
      Crop Income and Expenses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="field"
       (click)="initializePage('field')">
      Field</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="salesinvoice"
    (click)="initializePage('salesinvoice')">
      Sales Invoice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="operation"
    (click)="initializePage('operation')">
      Technological Operation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="waybill"
    (click)="initializePage('waybill')">
      Planned Waybill</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="requirement"
    (click)="initializePage('requirement')">
      Planned Requirement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="order"
    (click)="initializePage('order')">
      Work Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="attractingworker"
    (click)="initializePage('attractingworker')">
      Attracting Workers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" tabindex="-1" aria-disabled="true"
       routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="qualification"
    (click)="initializePage('qualification')">
      Worker Qualification</a>
  </li>
</ul>

<div class="crud-container">
  <div class="for-table">
    <h2>Data Set</h2>
      <table class="table table-striped" border="1">
        <thead>
        <th *ngFor="let header of tableHeaders">
          {{header}}
        </th>
        </thead>

        <tbody>
        <tr *ngFor="let item of forTable; index as i ">
          <td *ngFor="let value of item">
            {{value}}
          </td>
          <td>
            <button (click)="edit(i)" class="edit-button">edit</button>
          </td>
          <td>
            <button (click)="delete(item[0])" class="delete-button">delete</button>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
  <div class="for-form">
    <router-outlet (activate)="subscribeToForm($event)" (deactivate)="unsubscribe()"></router-outlet>
  </div>
</div>



